body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

.quiz {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.question {
  font-size: 18px;
  margin-bottom: 10px;
}

.answer {
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
}

.answer-circle {
  width: 20 px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0 10px;
  flex-shrink: 0;
}


.answer-text {
  flex-grow: 1;
  padding: 10px;
}

.answer:hover {
  background-color: #f0f0f0;
  /* border-color: #007bff; */
  border-style: dashed;
}

.correct {
  background-color: #a3e6a3;
  border-color: #66c266;
}

.incorrect {
  background-color: #f8b0b0;
  border-color: #e64d4d;
}

.correct-circle {
  background-color: #a3e6a3;
  border-color: #66c266;
}

.incorrect-circle {
  background-color: #f8b0b0;
  border-color: #e64d4d;
}

.fact {
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .answer-circle {
    width: 30px;
    height: 30px;
  }

  .answer-text {
    padding: 15px;
  }

  .quiz {
    width: 400px;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .answer-circle {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }

  .answer-text {
    padding: 5px;
  }

  .quiz {
    width: 300px;
    font-size: 16px;
  }
}

.correct-circle {
  border-color: #66c266 !important;
}

.incorrect-circle {
  border-color: #e64d4d !important;
}